In [1]:
# Import required packages

import pandas as pd
import numpy as np

In [44]:
# Import data from local raw_data folder

data_url = "/Users/egmac/code/arostagnat/raw_data/"
book_url = "raw_book/"
film_url = "raw_movies/"
book_files = ["metadata","ratings","reviews","survey_answers","tag_count","tags"]

book_df ={}

for item in book_files:
    book_df[item] = pd.read_json(data_url+book_url+item+".json",lines=True)

In [39]:
book_df["metadata"].head(2)

,item_id,url,title,authors,lang,img,year,description
0,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel..."
1,2792775,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,https://images.gr-assets.com/books/1447303603m...,2008,Winning will make you famous.\nLosing means ce...

In [33]:
book_df["ratings"].head(2)

    item_id  user_id  rating
0  41335427        0       5
1  41335427        1       3

In [34]:
book_df["reviews"].head(2)

    item_id                                                txt
0  41335427  Annual re-read 2013. I liked HBP much more thi...
1  41335427  An improvement over the disappointing fifth en...

In [35]:
book_df["survey_answers"].head(2)

   user_id  item_id  tag_id  score
0        2   604666     151      5
1        2  1222101     151      5

In [36]:
book_df["tag_count"].head(2)

   item_id  tag_id  num
0      115      13   52
1      115      25  180

In [37]:
book_df["tags"].head(2)

            tag  id
0  18th century   0
1         1920s   1

In [21]:
# Create merged master table
books_full_df = book_df["reviews"].merge(book_df["metadata"],on="item_id").drop(["url"],axis=1)

In [38]:
books_full_df.head(2)

,item_id,txt,title,authors,lang,img,year,description
0,41335427,Annual re-read 2013. I liked HBP much more thi...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,eng,https://images.gr-assets.com/books/1361039191m...,2006,The war against Voldemort is not going well: e...
1,41335427,An improvement over the disappointing fifth en...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,eng,https://images.gr-assets.com/books/1361039191m...,2006,The war against Voldemort is not going well: e...

In [32]:
book_df["survey_answers"].nunique()

user_id     986
item_id    2535
tag_id      727
score         6
dtype: int64

In [51]:
book_df["tag_count"].insert(3,"order",2)

In [52]:
book_df["tag_count"].head(2)

   item_id  tag_id  num  order
0      115      13   52      2
1      115      25  180      2

In [ ]:
for i in range(len(book_df["metadata"]):
    book_df["metadata"].iloc(

In [59]:
book_df["tag_count"].iloc[-1]["order"] = 3

/var/folders/_c/hnby49996jgf113yx9b06pd80000gn/T/ipykernel_4364/3993884297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book_df["tag_count"].iloc[-1]["order"] = 3